<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Daftar_Hadir.Properties.Settings.StudentConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Student;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Daftar_Hadir.Properties.Settings.StudentConnectionString1"
            connectionString="Data Source=UNISCIENT\SQLEXPRESS;Initial Catalog=Student;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>